<footer class="footer">
    <div class="wrapper flexbox">
        <div class="footer-logo">
            <a href="#" class="footer-logo">domum design</a>
            <ul class="social-networks">
                <li><a href="#">facebook</a></li>
                <li><a href="#">instagram</a></li>
            </ul>
            <span class="copyright">&copy;domum.ru, 2017 — 2018</span>
        </div>
        <div class="footer-content">
            <div class="footer-col">
                <strong>Услуги</strong>
                <ul>
                    <li><a href="#">Проектирование домов</a></li>
                    <li><a href="#">Дизайн интерьера</a></li>
                    <li><a href="#">Ландшафтный дизайн</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <strong>О нас</strong>
                <ul>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Портфолио</a></li>
                    <li><a href="#">Цены</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="footer-contacts">
                <strong class="tel">+420 000 000 000</strong>
                <a href="emailto:info@domum-design.ru" class="email">info@domum-design.ru</a>
                <p>Московская область, г. Электросталь,<br>ул. Красная, д. 42</p>
                <a href="#" class="check-map">Посмотреть на карте</a>
            </div>
        </div>
    </div>
</footer>