<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- visual info -->
    <title>Domum</title>
    <!-- css -->
    <link href="css/main.css" rel="stylesheet">
    <script src="js/vendors.js"></script>
    <script src="js/app.js" defer></script>
</head>
<body>