<header class="header">
    <div class="wrapper flexbox">
        <strong class="logo"><a href="#">domum design</a></strong>
        <nav class="navigation">
            <ul>
                <li class="with-dropdown">
                    <a href="#">Услуги</a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="#">Проектирование домов</a></li>
                            <li><a href="#">Дизайн интерьера</a></li>
                            <li><a href="#">Ландшафтный дизайн</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">О компании</a></li>
                <li class="current"><a href="#">Портфолио</a></li>
                <li><a href="#">Цены</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
        <div class="header-r-side">
            <div class="header-contacts">
                <strong>+420 000 000 000</strong>
                <a href="mailto:info@domum-design.ru">info@domum-design.ru</a>
            </div>
            <div class="languages">
                <span class="js-language-selected">RU</span>
                <ul class="language-dropdown">
                    <li><a href="#">EN</a></li>
                    <li><a href="#">DE</a></li>
                </ul>
            </div>
            <a href="#" class="menu-opener js-menu-opener"><span></span></a>
        </div>
    </div>
</header>