.categories {
	background: $sand;
	padding: 120px 0;
	margin: 0 0 110px;

	@include md-down {
		padding: 80px 0;
        margin: 0 0 65px;
	}
	@include sm-down {
		padding: 60px 0;
	}
}
.categories-wrapper {
	@include xs-down {
		flex-direction: column;
	}
}
.category-item {
	margin: 0 30px 0 0;
	background: $white;
	box-shadow: 0 21px 24px 0 rgba(198,198,198,0.35);
	position: relative;
	width: calc(100% / 3);

	&:after {
		content: "";
		height: 10px;
		width: calc(100% - 20px);
		bottom: -10px;
		left: 10px;
		background: #ececec;
		position: absolute;

		@include sm-down {
			display: none;
		}
	}

	a {
		display: block;
	}

	&:last-of-type {
		margin: 0;
	}
	img {
		display: block;
		width: 100%;
	}
	strong {
		color: $gold;
		font: 32px/42px $ubuntu-bold;
		display: block;
		margin: 0 0 20px;
		overflow: hidden;
		text-overflow: ellipsis;

		@include md-down {
			font-size: 28px;
			line-height: 36px;
		}
		@include sm-down {
			font-size: 22px;
			line-height: 28px;
		}
		@include xs-down {
			text-align: center;
			margin: 0;
			font-size: 24px;

			br {
				display: none;
			}
		}
	}
	p {
		font-family: $ubuntu-light;
		font-size: 16px;
		line-height: 24px;
		margin: 0 0 20px;
		color: $grey;

		@include xs-down {
			display: none;
		}
	}
	.link {
		font-family: $ubuntu-bold;
		text-transform: uppercase;

		&:before {
			@include arrow(8px, 8px, 2px, -53deg);
			margin: 8px 15px 0 0;

			@include sm-down {
				margin-top: 9px;
			}
		}
		@include md-down {
			font-size: 17px;
		}
		@include sm-down {
			font-size: 15px;
		}
		@include xs-down {
			display: none;
		}
	}
	@include md-down {
		width: calc(100% / 3);
		margin-right: 20px;
	}
	@include xs-down {
		width: 100%;
		margin: 0 0 20px;
	}
}
.category-item-content {
	padding: 30px;

	@include sm-down {
		padding: 20px;
	}
}