.content-hero {
    height: 600px;
    position: relative;
    overflow: hidden;

    @include md-down {
        height: 480px;
    }
    @include xs-down {
        height: 320px;
    }

    .cover-image {
        @include object-fit();
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .wrapper {
        height: 100%;
        display: flex;
        align-items: flex-start;
        position: relative;
        z-index: 5;
    }
}
.content-hero-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    &>img {
        flex-shrink: 0;
        margin-left: -50px;

        @include md-down {
            margin: 0 50px 0 0;
            max-width: 35%;
        }
        @include sm-down {
            margin: 0 30px 0 0;
            max-width: 40%;
        }
        @include xs-down {
            max-width: 60%;
            margin: 0 auto;
        }
        @include xs2-down {
            max-width: 80%;
        }
    }
}
.content-hero-text {
    color: $black;
    font: 32px/40px $ubuntu-reg;
    padding: 150px 0 0;

    @include md-down {
        font-size: 28px;
        line-height: 36px;
        padding: 75px 0 0;
    }
    @include sm-down {
        font-size: 24px;
        line-height: 32px;
        padding: 85px 0 0;
    }

    strong {
        display: block;
        font: 64px/77px $ubuntu-bold;

        &>span {
            color: $gold;
        }

        @include md-down {
            font-size: 42px;
            line-height: 50px;
        }
        @include sm-down {
            font-size: 36px;
            line-height: 43px;
            margin: 0 0 20px;
        }
        @include xs2-down {
            font-size: 28px;
            line-height: 34px;
        }
    }
    p {
        margin: 0 0 40px;

        @include sm-down {
            margin: 0 0 25px;
        }
        @include xs2-down {
            font-size: 17px;
            line-height: 24px;
        }
    }
    .button {
        @include button();
    }
    @include xs-down {
        display: none;
    }
    &.mobile-only {
        @include sm-down {
            display: block;
            padding: 25px 20px 0;
            text-align: center;
        }
        @include sm-up {
            display: none;
        }
    }
}