.content-hero {
    height: 600px;
    position: relative;
    overflow: hidden;

    @include md-down {
        height: 480px;
    }
    @include xs-down {
        height: 320px;
    }

    .cover-image {
        @include object-fit();
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .wrapper {
        height: 100%;
        display: flex;
        align-items: flex-start;
        position: relative;
        z-index: 5;
    }
    &.lets-call {
        .cover-image {
            @include xs-down {
                object-position: -190px 0;
                font-family: 'object-fit: cover; object-position: -190px 0;';
            }
        }
    }
}
.content-hero-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    &>img {
        flex-shrink: 0;
        margin-left: -50px;

        @include md-down {
            margin: 0 50px 0 0;
            max-width: 35%;
        }
        @include sm-down {
            margin: 0 30px 0 0;
            max-width: 40%;
        }
        @include xs-down {
            max-width: 60%;
            margin: 0 auto;
        }
        @include xs2-down {
            max-width: 80%;
        }
    }
    .lets-call & {
        justify-content: flex-end;
    }
}
.content-hero-text {
    color: $black;
    font: 32px/40px $ubuntu-reg;
    padding: 150px 0 0;

    @include md-down {
        font-size: 28px;
        line-height: 36px;
        padding: 75px 0 0;
    }
    @include sm-down {
        font-size: 24px;
        line-height: 32px;
        padding: 85px 0 0;
    }

    strong {
        display: block;
        font: 64px/77px $ubuntu-bold;

        .lets-call & {
            font-size: 56px;
            margin: 0 0 20px;

            @include md-down {
                font-size: 42px;
                text-align: center;
            }
            @include sm-down {
                font-size: 36px;
                line-height: 43px;
            }
        }

        &>span {
            color: $gold;
        }

        @include md-down {
            font-size: 42px;
            line-height: 50px;
        }
        @include sm-down {
            font-size: 36px;
            line-height: 43px;
            margin: 0 0 20px;
        }
        @include xs2-down {
            font-size: 28px;
            line-height: 34px;
        }
    }
    p {
        margin: 0 0 40px;

        @include sm-down {
            margin: 0 0 25px;
        }
        @include xs2-down {
            font-size: 17px;
            line-height: 24px;
        }
    }
    .button {
        @include button();
    }
    @include xs-down {
        display: none;
    }
    &.mobile-only {
        @include sm-down {
            display: block;
            padding: 25px 20px 0;
            text-align: center;
        }
        @include sm-up {
            display: none;
        }
    }
    .lets-call & {
        width: 600px;
        padding: 100px 0 0;

        @include md-down {
            width: 480px;
            padding: 55px 0 0;
        }
        @include sm-down {
            width: 365px;
            padding: 50px 0 0;
        }
    }
}
.lets-call-form {
    background: $white;
    box-shadow: 0 21px 24px 0 rgba(198,198,198,.35);
    width: 386px;
    box-sizing: border-box;
    padding: 49px 55px;
    border-radius: 0 5px 5px 0;
    position: relative;
    margin-left: auto;

    input[type=text] {
        padding: 16px 0;
        margin: 0 0 10px 5px;
        outline: none;
        display: block;
        background: none;
        border: solid $lightest_grey;
        border-width: 0 0 1px;
        width: calc(100% - 10px);
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        font-family: $ubuntu-reg;
    }

    button {
        @include button();
        width: 100%;
        border: 0;
        outline: none;
        cursor: pointer;
        margin: 20px 0 0;
    }
    @include md-down {
        width: 100%;
        border-radius: 5px;
    }
    @include sm-down {
        padding: 30px;
    }
    @include xs-down {
        padding: 20px;
    }
}
.lets-call-info {
    position: absolute;
    bottom: 65px;
    left: -210px;
    width: 145px;
    font: 24px/32px $ubuntu-reg;
    color: $black;

    &:after {
        content: "";
        bottom: 14px;
        position: absolute;
        left: 100%;
        height: 1px;
        background: $gold;
        width: 94px;
    }
    @include md-down {
        display: none;
    }
}