.header {
	position: absolute;
	width: 100%;
	top: 0;
    z-index: 60;
}
.logo {
	width: 220px;
	height:200px;
	text-indent: -9999px;
	background: url(../images/logo.png) no-repeat;
	flex-shrink: 0;
	position: relative;
	display: block;

	&:before {
		content: "";
		width: 999em;
		height: 2px;
		background: $gold;
		position: absolute;
		top: 100px;
		left: -999em;

		@include md-down {
			left: 100%;
			top: 80px;
		}
		@include xs-down {
			left: -20px;
			top: 68px;
		}
		@include xs2-down {
			top: 49px;
		}
	}

	a {
		display: block;
		width: 128px;
		height: 75px;
		margin: 33px 0 0 45px;
		background: url(../images/logo-header.png) no-repeat;

		@include md-down {
			margin: 13px 0 0 45px;
		}
		@include xs-down {
			width: 100%;
			height: 100%;
			margin: 0;
			background-size: 100% 100%;
		}
	}
	@include md-down {
		height: 163px;
		background-position: 0 100%;
		margin-left: -20px;
	}
	@include xs-down {
		background: none;
		width: 91px;
		height: 53px;
		margin: 12px 0 0;
	}
	@include xs2-down {
		width: 65px;
		height: 38px;
		margin: 9px 0 0;
	}
}
.navigation {
	padding: 40px 0 0;
	width: calc(100% - 520px);
	position: relative;

	&>ul {
		display: flex;
		align-self: flex-start;
		text-transform: uppercase;
		font-family: $ubuntu-bold;
		margin: 0 0 0 25px;

        @include md-down {
            flex-direction: column;
			margin: 0;

            a {
                color: $white;

				&:hover {
					color: $gold;
				}
            }
        }

		&>li {
			position: relative;
			margin: 0 25px 0 0;

			@include md-down {
				margin: 0 0 25px;
			}

			&:before {
				content: "";
				width: 25px;
				height: 2px;
				background: $gold;
				position: absolute;
				top: 60px;
				left: -25px;

				@include md-down {
					display: none;
				}
			}
			&:after {
				content: "";
				width: 100%;
				height: 2px;
				background: $gold;
				position: absolute;
				top: 60px;
				left: 0;

				@include md-down {
					display: none;
				}
			}

			&.current {
				&:before {
					display: none;
				}
				&:after {
					width: 100%;
					height: 4px;
					top: 59px;
					background: $red;

					@include md-down {
						display: none;
					}
				}
				& + li {
					&:before {
						width: 100%;
						left: 0;
					}
				}
			}

			&:last-of-type {
				&:before {
					content: "";
					width: calc(100% + 25px);
					height: 2px;
					background: $gold;
					position: absolute;
					top: 60px;
					left: -25px;
					display: block !important;

					@include md-down {
						display: none !important;
					}
				}
				&:after {
					content: "";
					width: 999em;
					height: 2px;
					background: $gold;
					position: absolute;
					top: 60px;
					left: 100%;
				}
				&.current {
					&:before {
						width: 100%;
						height: 4px;
						top: 59px;
						background: $red;
						left: 0;
					}
					&:after {
						left: calc(100% + 25px);
					}
				}
			}

			&.with-dropdown {
				@include lg-up {
					&>a {
						&:after {
							@include arrow(8px, 8px, 2px, 35deg);
							margin: 5px 0 0 10px;

							@include md-down {
								display: none;
							}
						}
					}
					&:hover {

						&>a {
							color: $red;

							&:after {
								@include arrow(8px, 8px, 2px, -145deg);
								margin-top: 10px;
							}
						}
						.dropdown {
							opacity: 1;
							top: 26px;
							visibility: visible;
						}
					}
				}
			}
		}
	}
	.dropdown {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top:20px;
		left:0;
		box-shadow: 0 10px 24px 0 rgba(198,198,198,0.35);
		font-size: 17px;
		font-family: $ubuntu-reg;
		line-height: 21px;
		background: $white;
		border: 2px solid $gold;
		text-transform: none;
		padding: 10px 25px;
		transition: opacity 0.5s ease, top 0.5s ease;
		z-index: 5;

		@include md-down {
			position: static;
			visibility: visible;
			opacity: 1;
			background: none;
			border:0;
			box-shadow: none;
			padding: 20px 0 0;

			a {
				&:before {
					@include arrow(8px, 8px, 1px, -53deg);
					margin: 5px 10px 0 0;
				}
			}
		}

		li {
			white-space: nowrap;
			padding: 10px 0;
		}
	}
    @include md-down {
        position: absolute;
        top: 82px;
        right: -320px;
        width: 320px;
        background: $blue;
		font-size: 17px;
		padding: 30px 40px;
		height: calc(100vh - 82px);
		box-sizing: border-box;
		transition: right 0.4s ease-in-out;

		.menu-opened & {
			right: 0;
			overflow: auto;
		}
    }
	@include xs2-down {
		top: 60px;
	}
}
.header-r-side {
	display: flex;
	width: 300px;
	flex-shrink: 0;
	justify-content: space-between;

	@include md-down {
		width: calc(100% - 200px);
		box-sizing: border-box;
		padding: 0 30px 0 5%;
	}
	@include xs-down {
		width: calc(100% - 110px);
		padding: 0;
	}
	@include xs2-down {
		width: calc(100% - 65px);
	}
}
.header-contacts {
	line-height: 27px;
	padding: 26px 0 0;

	strong {
		display: block;
		font-size: 24px;
		color: $black;

		@include md-down {
			margin-right: 30px;
		}
		@include xs-down {
			font-size: 20px;
			margin: 0;
		}
		@include xs2-down {
			font-size: 17px;
		}
	}
	a {
		@include xs2-down {
			display: none;
		}
	}
	@include md-down {
		display: flex;
		padding: 29px 0 0;
	}
	@include sm-down {
		padding: 16px 0 0 11%;
		flex-direction: column;
		width: 55%;
	}
	@include xs-down {
		width: 100%;
		padding: 19px 0 0;
		text-align: center;
		font-size: 16px;
	}
	@include xs2-down {
		padding: 15px 0 0;
	}
}
.languages {
	margin: 25px 0 0;
	font-family: $ubuntu-bold;
	border: 1px solid $blue;
	padding: 10px 22px 10px 20px;
	border-radius: 3px;
	align-self: flex-start;

	a {
		&:after {
			@include arrow(8px, 8px, 1px, 35deg);
			margin: 7px 0 0 9px;
		}
		&:hover {
			&:after {
				border-color: $red;
			}
		}
	}
	@include md-down {
		margin: 15px 0 0;
	}
	@include xs-down {
		margin: 20px 20px 0 10px;
		width: 74px;
		padding: 4px 11px;
		font-size: 17px;
	}
	@include xs2-down {
		display: none;
	}
}
.menu-opener {
    width: 34px;
    height: 2px;
    padding: 7px 0;
    position: relative;
    margin: 32px 0 0;

    span {
        height: 2px;
        display: block;
        background: $blue;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: $blue;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }

    @include lg-up {
        display: none;
    }
	.menu-opened & {
		&:after,
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			transition: transform 0.4s ease;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
		span {
			display: none;
		}
	}
	@include xs2-down {
		margin: 20px 0 0;
	}
}