.hero-slider {
    margin: -200px 0 145px;
    height: 800px;
    position: relative;

    .bx-wrapper {
        height: 100%;
    }
    .bx-viewport {
        height: 100%;
    }
    .bx-controls {
        position: absolute;
        width: 100%;
        bottom: 120px;
        left: 0;
        z-index: 55;

        .bx-pager {
            @extend .wrapper;
            display: flex;
        }
        .bx-pager-item {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            text-indent: -9999px;
            overflow: hidden;
            margin: 0 25px 0 0;

            a {
                display: block;
                height: 100%;
                background: $gold;

                &.active {
                    background: $blue;
                }
            }
        }
    }
}
.hero-slider-wrapper {
    height: 100%;
}
.hero-slide-item {
    position: relative;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        object-fit: cover;
        font-family: object-fit\:cover;
    }
    .wrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }
}
.hero-slide-content {
    position: relative;
    z-index: 5;
    max-width: 765px;
    color: $black;

    h2 {
        font: 72px/80px $ubuntu-bold;
        color: $gold;
        margin: 0 0 20px;
    }
    p {
        font: 36px/48px $ubuntu-bold;
        margin: 0 0 35px;
    }
    .button {
        @include button();
    }
}