.hero-slider {
    margin: -200px 0 145px;
    height: 800px;
    position: relative;

    @include md-down {
        margin-bottom: 120px;
        height: 613px;
    }
    @include sm-down {
        height: 475px;
        margin-bottom: 100px;
    }
    @include xs-down {
        height: 348px;
    }
    @include xs2-down {
        height: 253px;
        margin-bottom: 80px;
    }

    .bx-wrapper {
        height: 100%;
    }
    .bx-viewport {
        height: 100%;
    }
    .bx-controls {
        position: absolute;
        width: 100%;
        bottom: 120px;
        left: 0;
        z-index: 55;

        .bx-pager {
            @extend .wrapper;
            display: flex;

            @include md-down {
                justify-content: center;
            }
        }
        .bx-pager-item {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            text-indent: -9999px;
            overflow: hidden;
            margin: 0 25px 0 0;

            a {
                display: block;
                height: 100%;
                background: $gold;

                &.active {
                    background: $blue;
                }
            }
        }
        @include md-down {
            top: auto;
            bottom: -30px;
        }
    }
}
.hero-slider-wrapper {
    height: 100%;
}
.hero-slide-item {
    position: relative;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        @include object-fit();

        @include md-down {
            object-position: 86% 0;
            font-family: 'object-fit: cover; object-position: 86% 0;';
        }
    }
    .wrapper {
        height: 100%;
        display: flex;
        align-items: center;

        @include md-down {
            max-width: 840px;
        }
    }
}
.hero-slide-content {
    position: relative;
    z-index: 5;
    max-width: 765px;
    color: $black;

    h2 {
        font: 72px/80px $ubuntu-bold;
        color: $gold;
        margin: 0 0 20px;

        @include md-down {
            font-size: 62px;
        }
        @include sm-down {
            font-size: 48px;
            line-height: 50px;
            margin: 0 0 20px;
        }
        @include xs-down {
            font-size: 36px;
            line-height: 44px;
            max-width: 230px;
        }
        @include xs2-down {
            font-size: 32px;
            line-height: 39px;
            margin: 0 0 15px;
        }
    }
    p {
        font: 36px/48px $ubuntu-bold;
        margin: 0 0 35px;

        @include md-down {
            font-size: 32px;
            line-height: 42px;
            max-width: 430px;
        }
        @include sm-down {
            font-size: 24px;
            line-height: 32px;
            max-width: 310px;
            margin: 0 0 20px;
        }
        @include xs-down {
            display: none;
        }
    }
    .button {
        @include button();
    }
    @include md-down {
        padding-top: 50px;
    }
    @include sm-down {
        padding-top: 70px;
    }
}