.principles {
	margin: 0 0 100px;
}
.principles-col {
	margin: 0 30px 0 0;

	&:last-of-type {
		margin: 0;
	}
}
.principles-heading {
	display: flex;
	align-items: center;
	font-size: 22px;
	line-height: 30px;
	margin: 0 0 25px;
	color: $black;
}
.principles-icon-wrapper {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	position: relative;
	background: $white;
	box-shadow: 0 21px 24px 0 rgba(198,198,198,0.35);
	flex-shrink: 0;
	margin: 0 20px 0 0;

	&:before {
		content: "";
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: #e9eaeb;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	svg {
		width: 58px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}