@mixin arrow($width, $height, $border_width, $rotate) {
	content: "";
	display: inline-block;
	vertical-align: top;
	transform: rotate($rotate) skewX(-15deg);
	width: $width;
	height: $height;
	border-style: solid;
	border-color: inherit;
	border-width: 0 $border_width $border_width 0;
}
@mixin button() {
	font: 14px/40px $ubuntu-bold;
	background: $red;
	display: inline-block;
	color: $white;
	padding: 10px 30px;
	box-sizing: border-box;
	text-align: center;
	min-width: 178px;
	box-shadow: 0 8px 24px 0 rgba(208,42,44,0.38);
	text-transform: uppercase;
    border-radius: 3px;

	&:hover {
		background: $light_red;
	}
	&:active {
		background: $dark_red;
		box-shadow: none;
	}
    @include xs2-down {
        padding: 5px 30px;
    }
}
@mixin object-fit() {
	object-fit: cover;
	font-family: 'object-fit: cover;';
}