{% include '../common/head.twig' %}

<main class="page">

    {% include '../common/header.twig' %}

    <article class="main">
        {% include '../components/block-404.twig' %}
    </article>

</main>

{% include '../common/end.twig' %}