{% include '../common/head.twig' %}

<main class="page">
    {% include '../common/header.twig' %}
    <article class="main">

    </article>
    {% include '../common/footer.twig' %}
</main>


{% include '../common/end.twig' %}