{% include '../common/head.twig' %}

<main class="page">

    {% include '../common/header.twig' %}

    <article class="main">

        <div class="wrapper">
            <h3>Примеры наших работ</h3>

            {% include '../components/block-portfolio.twig' %}

        </div>

        {% include '../components/content-hero.twig' %}

    </article>

    {% include '../common/footer.twig' %}

</main>

{% include '../common/end.twig' %}