.about-section {
	margin: 0 0 35px;
	color: $black;

	.cols {
		p {
			width: 48%;

			@include sm-down {
				width: 100%;
				margin: 0 0 20px;
			}
		}
		@include sm-down {
			flex-direction: column;
		}
	}
}
.examples {
	h3 {
		margin-bottom: 35px;
	}
}
.guarantee {
    h3 {
        margin-bottom: 35px;
    }
}