<div class="wrapper">
    <h3>О нас</h3>
    <div class="about-us">
        <div class="about-us-image">
            <img src="images/img07.jpg" alt="" class="image-object-fit">
        </div>
        <div class="-about-us-quote">
            <p>Архитектурно-строительная компания основана в 1997 году. Одним из ключевых направлений деятельности  является проектирование и строительство частных домов. </p>
            <p>Мы работаем в Европе с 2009 года. Накопленный опыт мы постоянно совершенствуем с учетом новых современных технологий и материалов и дополняем европейскими методами строительного производства и проектирования.  </p>
            <strong class="author">— Владимир Моруга, основатель</strong>
        </div>
    </div>
</div>