<div class="portfolio-tabs">
    <span class="portfolio-current-tab js-selected-tab-item">Проектирование домов</span>
    <ul>
        <li><a href="#" class="selected js-tab-link" data-tab-block="tab1">Проектирование домов</a></li>
        <li><a href="#" class="js-tab-link" data-tab-block="tab2">Дизайн интерьера</a></li>
        <li><a href="#" class="js-tab-link" data-tab-block="tab3">Ландшафтный дизайн</a></li>
    </ul>
</div>
<div data-tab="tab1" class="portfolio-tab js-tab-content selected">
    <div class="portfolio-items-wrapper">
        <div class="portfolio-item">
            <a href="images/img04.jpg" data-fancybox="gallery1">
                <div class="portfolio-img">
                    <img src="images/img04.jpg" alt="">
                </div>
                <strong>Реновация пятиэтажного здания</strong>
                <span class="portfolio-item-images">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-portfolio"></use>
                </svg>
                18 фото
            </span>
            </a>
            <div class="portfolio-item-gallery">
                <a href="http://www.domumdizajn.com/images/banner3.jpg" data-fancybox="gallery1">
                    <img src="http://www.domumdizajn.com/images/banner3.jpg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcfNUcfoKlx6pzKCHY4Quuuvtm3-YOkr_0I-8ehZ-LdCLFcFF-" data-fancybox="gallery1">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcfNUcfoKlx6pzKCHY4Quuuvtm3-YOkr_0I-8ehZ-LdCLFcFF-" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaO_QqY8z05C1QdegJ9LAP0hBwJGGEdzRQbZKKIVXytC25jVpZ" data-fancybox="gallery1">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaO_QqY8z05C1QdegJ9LAP0hBwJGGEdzRQbZKKIVXytC25jVpZ" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <a href="https://domum.design/wp-content/uploads/2018/05/Instagram_2018-05-16.jpg" data-fancybox="gallery2">
                <div class="portfolio-img">
                    <img src="https://domum.design/wp-content/uploads/2018/05/Instagram_2018-05-16.jpg" alt="">
                </div>
                <strong>Реновация пятиэтажного здания</strong>
                <span class="portfolio-item-images">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-portfolio"></use>
                </svg>
                18 фото
            </span>
            </a>
            <div class="portfolio-item-gallery">
                <a href="https://www.habitatmag.co.za/wp-content/uploads/2018/05/Domum-Africa2.jpg" data-fancybox="gallery2">
                    <img src="https://www.habitatmag.co.za/wp-content/uploads/2018/05/Domum-Africa2.jpg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmPMR9KHOoCvOKWYS6CLk2oDZhRvVBLCEelpRRxQKW_Ag21uaNTg" data-fancybox="gallery2">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmPMR9KHOoCvOKWYS6CLk2oDZhRvVBLCEelpRRxQKW_Ag21uaNTg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDTljER9tT35miykEk70mASHECytkqOx2Ef1wTIXAcvaThclWi" data-fancybox="gallery2">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDTljER9tT35miykEk70mASHECytkqOx2Ef1wTIXAcvaThclWi" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <a href="https://domum.design/wp-content/uploads/2018/05/Instagram_2018-05-16.jpg" data-fancybox="gallery3">
                <div class="portfolio-img">
                    <img src="https://domum.design/wp-content/uploads/2018/05/Instagram_2018-05-16.jpg" alt="">
                </div>
                <strong>Реновация пятиэтажного здания</strong>
                <span class="portfolio-item-images">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-portfolio"></use>
                </svg>
                18 фото
            </span>
            </a>
            <div class="portfolio-item-gallery">
                <a href="https://www.habitatmag.co.za/wp-content/uploads/2018/05/Domum-Africa2.jpg" data-fancybox="gallery3">
                    <img src="https://www.habitatmag.co.za/wp-content/uploads/2018/05/Domum-Africa2.jpg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmPMR9KHOoCvOKWYS6CLk2oDZhRvVBLCEelpRRxQKW_Ag21uaNTg" data-fancybox="gallery3">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmPMR9KHOoCvOKWYS6CLk2oDZhRvVBLCEelpRRxQKW_Ag21uaNTg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDTljER9tT35miykEk70mASHECytkqOx2Ef1wTIXAcvaThclWi" data-fancybox="gallery3">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDTljER9tT35miykEk70mASHECytkqOx2Ef1wTIXAcvaThclWi" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <a href="images/img04.jpg" data-fancybox="gallery4">
                <div class="portfolio-img">
                    <img src="images/img04.jpg" alt="">
                </div>
                <strong>Реновация пятиэтажного здания</strong>
                <span class="portfolio-item-images">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-portfolio"></use>
                </svg>
                18 фото
            </span>
            </a>
            <div class="portfolio-item-gallery">
                <a href="http://www.domumdizajn.com/images/banner3.jpg" data-fancybox="gallery4">
                    <img src="http://www.domumdizajn.com/images/banner3.jpg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcfNUcfoKlx6pzKCHY4Quuuvtm3-YOkr_0I-8ehZ-LdCLFcFF-" data-fancybox="gallery4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcfNUcfoKlx6pzKCHY4Quuuvtm3-YOkr_0I-8ehZ-LdCLFcFF-" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaO_QqY8z05C1QdegJ9LAP0hBwJGGEdzRQbZKKIVXytC25jVpZ" data-fancybox="gallery4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaO_QqY8z05C1QdegJ9LAP0hBwJGGEdzRQbZKKIVXytC25jVpZ" alt="">
                </a>
            </div>
        </div>
    </div>
    <a href="#" class="portfolio-get-more-items">
        <span>Показать еще</span>
    </a>
</div>
<div data-tab="tab2" class="portfolio-tab js-tab-content">
    <div class="portfolio-items-wrapper">
        <div class="portfolio-item">
            <a href="images/img04.jpg" data-fancybox="gallery5">
                <div class="portfolio-img">
                    <img src="images/img04.jpg" alt="">
                </div>
                <strong>Реновация пятиэтажного здания</strong>
                <span class="portfolio-item-images">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-portfolio"></use>
                </svg>
                18 фото
            </span>
            </a>
            <div class="portfolio-item-gallery">
                <a href="http://www.domumdizajn.com/images/banner3.jpg" data-fancybox="gallery5">
                    <img src="http://www.domumdizajn.com/images/banner3.jpg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcfNUcfoKlx6pzKCHY4Quuuvtm3-YOkr_0I-8ehZ-LdCLFcFF-" data-fancybox="gallery5">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcfNUcfoKlx6pzKCHY4Quuuvtm3-YOkr_0I-8ehZ-LdCLFcFF-" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaO_QqY8z05C1QdegJ9LAP0hBwJGGEdzRQbZKKIVXytC25jVpZ" data-fancybox="gallery5">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaO_QqY8z05C1QdegJ9LAP0hBwJGGEdzRQbZKKIVXytC25jVpZ" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <a href="https://domum.design/wp-content/uploads/2018/05/Instagram_2018-05-16.jpg" data-fancybox="gallery6">
                <div class="portfolio-img">
                    <img src="https://domum.design/wp-content/uploads/2018/05/Instagram_2018-05-16.jpg" alt="">
                </div>
                <strong>Реновация пятиэтажного здания</strong>
                <span class="portfolio-item-images">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-portfolio"></use>
                </svg>
                18 фото
            </span>
            </a>
            <div class="portfolio-item-gallery">
                <a href="https://www.habitatmag.co.za/wp-content/uploads/2018/05/Domum-Africa2.jpg" data-fancybox="gallery6">
                    <img src="https://www.habitatmag.co.za/wp-content/uploads/2018/05/Domum-Africa2.jpg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmPMR9KHOoCvOKWYS6CLk2oDZhRvVBLCEelpRRxQKW_Ag21uaNTg" data-fancybox="gallery6">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmPMR9KHOoCvOKWYS6CLk2oDZhRvVBLCEelpRRxQKW_Ag21uaNTg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDTljER9tT35miykEk70mASHECytkqOx2Ef1wTIXAcvaThclWi" data-fancybox="gallery6">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDTljER9tT35miykEk70mASHECytkqOx2Ef1wTIXAcvaThclWi" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <a href="https://domum.design/wp-content/uploads/2018/05/Instagram_2018-05-16.jpg" data-fancybox="gallery7">
                <div class="portfolio-img">
                    <img src="https://domum.design/wp-content/uploads/2018/05/Instagram_2018-05-16.jpg" alt="">
                </div>
                <strong>Реновация пятиэтажного здания</strong>
                <span class="portfolio-item-images">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-portfolio"></use>
                </svg>
                18 фото
            </span>
            </a>
            <div class="portfolio-item-gallery">
                <a href="https://www.habitatmag.co.za/wp-content/uploads/2018/05/Domum-Africa2.jpg" data-fancybox="gallery7">
                    <img src="https://www.habitatmag.co.za/wp-content/uploads/2018/05/Domum-Africa2.jpg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmPMR9KHOoCvOKWYS6CLk2oDZhRvVBLCEelpRRxQKW_Ag21uaNTg" data-fancybox="gallery7">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmPMR9KHOoCvOKWYS6CLk2oDZhRvVBLCEelpRRxQKW_Ag21uaNTg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDTljER9tT35miykEk70mASHECytkqOx2Ef1wTIXAcvaThclWi" data-fancybox="gallery7">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDTljER9tT35miykEk70mASHECytkqOx2Ef1wTIXAcvaThclWi" alt="">
                </a>
            </div>
        </div>
    </div>
    <a href="#" class="portfolio-get-more-items">
        <span>Показать еще</span>
    </a>
</div>
<div data-tab="tab3" class="portfolio-tab js-tab-content">
    <div class="portfolio-items-wrapper">
        <div class="portfolio-item">
            <a href="images/img04.jpg" data-fancybox="gallery8">
                <div class="portfolio-img">
                    <img src="images/img04.jpg" alt="">
                </div>
                <strong>Реновация пятиэтажного здания</strong>
                <span class="portfolio-item-images">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-portfolio"></use>
                </svg>
                18 фото
            </span>
            </a>
            <div class="portfolio-item-gallery">
                <a href="http://www.domumdizajn.com/images/banner3.jpg" data-fancybox="gallery8">
                    <img src="http://www.domumdizajn.com/images/banner3.jpg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcfNUcfoKlx6pzKCHY4Quuuvtm3-YOkr_0I-8ehZ-LdCLFcFF-" data-fancybox="gallery8">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcfNUcfoKlx6pzKCHY4Quuuvtm3-YOkr_0I-8ehZ-LdCLFcFF-" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaO_QqY8z05C1QdegJ9LAP0hBwJGGEdzRQbZKKIVXytC25jVpZ" data-fancybox="gallery8">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaO_QqY8z05C1QdegJ9LAP0hBwJGGEdzRQbZKKIVXytC25jVpZ" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <a href="https://domum.design/wp-content/uploads/2018/05/Instagram_2018-05-16.jpg" data-fancybox="gallery9">
                <div class="portfolio-img">
                    <img src="https://domum.design/wp-content/uploads/2018/05/Instagram_2018-05-16.jpg" alt="">
                </div>
                <strong>Реновация пятиэтажного здания</strong>
                <span class="portfolio-item-images">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-portfolio"></use>
                </svg>
                18 фото
            </span>
            </a>
            <div class="portfolio-item-gallery">
                <a href="https://www.habitatmag.co.za/wp-content/uploads/2018/05/Domum-Africa2.jpg" data-fancybox="gallery9">
                    <img src="https://www.habitatmag.co.za/wp-content/uploads/2018/05/Domum-Africa2.jpg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmPMR9KHOoCvOKWYS6CLk2oDZhRvVBLCEelpRRxQKW_Ag21uaNTg" data-fancybox="gallery9">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmPMR9KHOoCvOKWYS6CLk2oDZhRvVBLCEelpRRxQKW_Ag21uaNTg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDTljER9tT35miykEk70mASHECytkqOx2Ef1wTIXAcvaThclWi" data-fancybox="gallery9">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDTljER9tT35miykEk70mASHECytkqOx2Ef1wTIXAcvaThclWi" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <a href="https://domum.design/wp-content/uploads/2018/05/Instagram_2018-05-16.jpg" data-fancybox="gallery10">
                <div class="portfolio-img">
                    <img src="https://domum.design/wp-content/uploads/2018/05/Instagram_2018-05-16.jpg" alt="">
                </div>
                <strong>Реновация пятиэтажного здания</strong>
                <span class="portfolio-item-images">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-portfolio"></use>
                </svg>
                18 фото
            </span>
            </a>
            <div class="portfolio-item-gallery">
                <a href="https://www.habitatmag.co.za/wp-content/uploads/2018/05/Domum-Africa2.jpg" data-fancybox="gallery10">
                    <img src="https://www.habitatmag.co.za/wp-content/uploads/2018/05/Domum-Africa2.jpg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmPMR9KHOoCvOKWYS6CLk2oDZhRvVBLCEelpRRxQKW_Ag21uaNTg" data-fancybox="gallery10">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmPMR9KHOoCvOKWYS6CLk2oDZhRvVBLCEelpRRxQKW_Ag21uaNTg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDTljER9tT35miykEk70mASHECytkqOx2Ef1wTIXAcvaThclWi" data-fancybox="gallery10">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDTljER9tT35miykEk70mASHECytkqOx2Ef1wTIXAcvaThclWi" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <a href="images/img04.jpg" data-fancybox="gallery11">
                <div class="portfolio-img">
                    <img src="images/img04.jpg" alt="">
                </div>
                <strong>Реновация пятиэтажного здания</strong>
                <span class="portfolio-item-images">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-portfolio"></use>
                </svg>
                18 фото
            </span>
            </a>
            <div class="portfolio-item-gallery">
                <a href="http://www.domumdizajn.com/images/banner3.jpg" data-fancybox="gallery11">
                    <img src="http://www.domumdizajn.com/images/banner3.jpg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcfNUcfoKlx6pzKCHY4Quuuvtm3-YOkr_0I-8ehZ-LdCLFcFF-" data-fancybox="gallery11">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcfNUcfoKlx6pzKCHY4Quuuvtm3-YOkr_0I-8ehZ-LdCLFcFF-" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaO_QqY8z05C1QdegJ9LAP0hBwJGGEdzRQbZKKIVXytC25jVpZ" data-fancybox="gallery11">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaO_QqY8z05C1QdegJ9LAP0hBwJGGEdzRQbZKKIVXytC25jVpZ" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <a href="https://domum.design/wp-content/uploads/2018/05/Instagram_2018-05-16.jpg" data-fancybox="gallery12">
                <div class="portfolio-img">
                    <img src="https://domum.design/wp-content/uploads/2018/05/Instagram_2018-05-16.jpg" alt="">
                </div>
                <strong>Реновация пятиэтажного здания</strong>
                <span class="portfolio-item-images">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-portfolio"></use>
                </svg>
                18 фото
            </span>
            </a>
            <div class="portfolio-item-gallery">
                <a href="https://www.habitatmag.co.za/wp-content/uploads/2018/05/Domum-Africa2.jpg" data-fancybox="gallery12">
                    <img src="https://www.habitatmag.co.za/wp-content/uploads/2018/05/Domum-Africa2.jpg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmPMR9KHOoCvOKWYS6CLk2oDZhRvVBLCEelpRRxQKW_Ag21uaNTg" data-fancybox="gallery12">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmPMR9KHOoCvOKWYS6CLk2oDZhRvVBLCEelpRRxQKW_Ag21uaNTg" alt="">
                </a>
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDTljER9tT35miykEk70mASHECytkqOx2Ef1wTIXAcvaThclWi" data-fancybox="gallery12">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDTljER9tT35miykEk70mASHECytkqOx2Ef1wTIXAcvaThclWi" alt="">
                </a>
            </div>
        </div>
    </div>
    <a href="#" class="portfolio-get-more-items">
        <span>Показать еще</span>
    </a>
</div>