<div class="block-404">
    <img src="images/img10.jpg" alt="" class="image-object-fit">
    <div class="wrapper">
        <h1>
            <span>Упс… <br>Что-то пошло не так</span>Запрашиваемая страница не найдена :(
        </h1>
    </div>
</div>