<div class="popup-overlay js-popup">
    <div class="popup">
        <button class="popup-close js-close-popup">close</button>
        <div class="popup-stage active-stage">
            <strong class="popup-title">Оставьте заявку и мы перезвоним в течение 15 минут</strong>
            <div class="lets-call-form js-callback-form">
                <form action="#">
                    <fieldset>
                        <div class="lets-call-form-row">
                            <input type="text" id="name">
                            <label for="name">Представьтесь, пожалуйста</label>
                        </div>
                        <div class="lets-call-form-row">
                            <input type="text" id="tel">
                            <label for="tel">Номер телефона</label>
                        </div>
                        <button class="js-go-to-next-stage">Спасибо, жду звонка!</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="popup-stage">
            <span class="popup-logo">domum design</span>
            <strong class="popup-title">Спасибо!</strong>
            <p>Не выключайте, пожалуйста, свой телефон. <br>До связи :)</p>
            <a href="#" class="popup-close-link js-close-popup">Закрыть</a>
        </div>
    </div>
</div>