<div class="flexbox">
    <div class="category-item">
        <a href="#">
            <img src="images/img01.jpg" alt="">
            <div class="category-item-content">
                <strong>Проектирование<br>домов</strong>
                <p>Создание эскизного проекта – этап совместной с заказчиком работы, требующей одновременно творческого и экспертного взгляда на будущий дом. </p>
                <span class="link">Подробнее</span>
            </div>
        </a>
    </div>
    <div class="category-item">
        <a href="#">
            <img src="images/img02.jpg" alt="">
            <div class="category-item-content">
                <strong>Дизайн<br>интерьера</strong>
                <p>Создание эскизного проекта – этап совместной с заказчиком работы, требующей одновременно творческого и экспертного взгляда на будущий дом. </p>
                <span class="link">Подробнее</span>
            </div>
        </a>
    </div>
    <div class="category-item">
        <a href="#">
            <img src="images/img03.jpg" alt="">
            <div class="category-item-content">
                <strong>Ландшафтный<br>дизайн</strong>
                <p>Создание эскизного проекта – этап совместной с заказчиком работы, требующей одновременно творческого и экспертного взгляда на будущий дом. </p>
                <span class="link">Подробнее</span>
            </div>
        </a>
    </div>
</div>