<div class="content-hero">
    <img src="images/img06.jpg" alt="" class="cover-image image-object-fit">
    <div class="wrapper">
        <div class="content-hero-block">
            <img src="images/img05.png" class="parallax-image" alt="" data-paroller-factor="0.15" data-paroller-type="foreground">
            <div class="content-hero-text">
                <strong>У вас есть квартира,<br><span>а у нас — золотые руки!</span></strong>
                <p>Узнайте, как превратить свой дом в конфетку!</p>
                <a href="#" class="button">Проконсультироваться</a>
            </div>
        </div>
    </div>
</div>
<div class="content-hero-text mobile-only">
    <strong>У вас есть квартира,<br><span>а у нас — золотые руки!</span></strong>
    <p>Узнайте, как превратить свой дом в конфетку!</p>
    <a href="#" class="button">Проконсультироваться</a>
</div>