<div class="content-slider">
    <div class="content-slider-wrapper js-content-slider">
        <div class="content-slide">
            <img src="images/img04.jpg" alt="" class="image-object-fit">
            <div class="content-slide-box">
                <div class="content-slide-amounts">
                    <strong class="js-current-slide"></strong> / <span class="js-total-slides"></span>
                </div>
                <strong>Реновация пятиэтажного здания</strong>
                <p>Создание эскизного проекта – этап совместной с заказчиком работы, требующей одновременно творческого и экспертного взгляда на будущий дом. </p>
            </div>
        </div>
        <div class="content-slide">
            <img src="images/img04.jpg" alt="" class="image-object-fit">
            <div class="content-slide-box">
                <div class="content-slide-amounts">
                    <strong class="js-current-slide"></strong> / <span class="js-total-slides"></span>
                </div>
                <strong>Реновация шестиэтажного здания</strong>
                <p>Создание эскизного проекта – этап совместной с заказчиком работы, требующей одновременно творческого и экспертного взгляда на будущий дом. </p>
            </div>
        </div>
        <div class="content-slide">
            <img src="images/img04.jpg" alt="" class="image-object-fit">
            <div class="content-slide-box">
                <div class="content-slide-amounts">
                    <strong class="js-current-slide"></strong> / <span class="js-total-slides"></span>
                </div>
                <strong>Реновация одноэтажного здания</strong>
                <p>Создание эскизного проекта – этап совместной с заказчиком работы, требующей одновременно творческого и экспертного взгляда на будущий дом. </p>
            </div>
        </div>
        <div class="content-slide">
            <img src="images/img04.jpg" alt="" class="image-object-fit">
            <div class="content-slide-box">
                <div class="content-slide-amounts">
                    <strong class="js-current-slide"></strong> / <span class="js-total-slides"></span>
                </div>
                <strong>Реновация шестнадцатиэтажного здания</strong>
                <p>Создание эскизного проекта – этап совместной с заказчиком работы, требующей одновременно творческого и экспертного взгляда на будущий дом. </p>
            </div>
        </div>
    </div>
</div>