<div class="principles flexbox">
    <div class="principles-col">
        <div class="principles-heading">
            <div class="principles-icon-wrapper">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#solution"></use>
                </svg>
            </div>
            <span>Оригинальные дизайнерские решения</span>
        </div>
        <p>Компания «Домум» — это компания, куда обращаются люди, мечтающие о ремонте, 	не сделанном под копирку, а наделённом собственной индивидуальностью и, если хотите, даже душой. Строго говоря, мы делаем не так, «как 	у всех», и людям это нравится!</p>
    </div>
    <div class="principles-col">
        <div class="principles-heading">
            <div class="principles-icon-wrapper">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#algorithm"></use>
                </svg>
            </div>
            <span>Отработанный алгоритм действий</span>
        </div>
        <p>Чёткая, своевременная работа и отлаженный алгоритм действий позволяют нам завершать каждый этап ремонтных работ точно в срок, не теряя времени на доставку оборудования или дополнительный закуп материалов, способный существенно увеличить срок сдачи проекта.</p>
    </div>
    <div class="principles-col">
        <div class="principles-heading">
            <div class="principles-icon-wrapper">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#technology"></use>
                </svg>
            </div>
            <span>Современные технологии и материалы</span>
        </div>
        <p>В своей работе мы используем только сертифицированные материалы от надёжных поставщиков, технология использования которых выверена на все 100%. Например, механизированная штукатурка стен европейского качества способна сократить срок ремонта в три раза!</p>
    </div>
    <div class="principles-col">
        <div class="principles-heading">
            <div class="principles-icon-wrapper">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#control"></use>
                </svg>
            </div>
            <span>Контроль качества всех этапов</span>
        </div>
        <p>Каждый объект находится под строгим контролем прораба, благодаря чему работа идёт легко, спокойно и согласно плану, а вы всегда можете проверить все её этапы на деле. Контроль производится еженедельно, чтобы мы спокойно работали, а вы — отдыхали.</p>
    </div>
</div>