<div class="hero-slider">
    <div class="hero-slider-wrapper js-hero-slider">
        <div class="hero-slide-item">
            <img class="image-object-fit" src="images/img-hero.jpg" alt="">
            <div class="wrapper">
                <div class="hero-slide-content">
                    <h2>Полный цикл услуг</h2>
                    <p>Проектирование, подбор материалов ремонт и авторский надзор!</p>
                    <a href="#" class="button">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="hero-slide-item">
            <img class="image-object-fit" src="images/img-hero.jpg" alt="">
            <div class="wrapper">
                <div class="hero-slide-content">
                    <h2>Полный цикл услуг 2</h2>
                    <p>Проектирование, подбор материалов ремонт и авторский надзор!</p>
                    <a href="#" class="button">Более подробно</a>
                </div>
            </div>
        </div>
        <div class="hero-slide-item">
            <img class="image-object-fit" src="images/img-hero.jpg" alt="">
            <div class="wrapper">
                <div class="hero-slide-content">
                    <h2>Полный цикл услуг 3</h2>
                    <p>Проектирование, подбор материалов ремонт и авторский надзор!</p>
                    <a href="#" class="button">Ещё подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>