<div class="content-hero lets-call">
    <img src="images/img08.jpg" alt="" class="cover-image image-object-fit">
    <div class="wrapper">
        <div class="content-hero-block">
            <div class="content-hero-text">
                <strong><span>Давайте созвонимся!</span></strong>
                <div class="lets-call-form">
                    <form action="#">
                        <fieldset>
                            <input type="text" placeholder="Представьтесь, пожалуйста">
                            <input type="text" placeholder="Номер телефона">
                            <button>Перезвоните мне</button>
                        </fieldset>
                    </form>
                    <span class="lets-call-info">Узнайте, как превратить свой дом в конфетку!</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-hero-text mobile-only">
    <strong><span>Давайте созвонимся!</span></strong>
    <div class="lets-call-form">
        <form action="#">
            <fieldset>
                <input type="text" placeholder="Представьтесь, пожалуйста">
                <input type="text" placeholder="Номер телефона">
                <button>Перезвоните мне</button>
            </fieldset>
        </form>
        <span class="lets-call-info">Узнайте, как превратить свой дом в конфетку!</span>
    </div>
</div>