<div class="price-box">
    <div class="price-box-content">
        <div class="price-row">
            <div class="col">Первая встреча  в офисе компании для составления технического задания</div>
            <div class="col"><strong>БЕСПЛАТНО</strong></div>
        </div>
        <div class="price-row">
            <div class="col">Стоимость часа консультации  дизайнера в офисе</div>
            <div class="col">700 kč / час</div>
        </div>
        <div class="price-row">
            <div class="col">Каждый следующий час  в  офисе компании</div>
            <div class="col">600 kč / час</div>
        </div>
        <div class="price-row">
            <div class="col">Консультация в пределах Праги</div>
            <div class="col">900 kč / час </div>
        </div>
        <div class="price-row">
            <div class="col">Консультация за пределами Праги</div>
            <div class="col">900 kč / час + 8 kč / км пути</div>
        </div>
        <div class="price-info"> Стоимость работ по декорированию  интерьера  рассчитывается по цене консультации дизайнера интерьера.</div>
    </div>
</div>