<div class="principles flexbox">
    <div class="principles-col">
        <div class="principles-heading">
            <div class="principles-icon-wrapper">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#specialization"></use>
                </svg>
            </div>
            <span>Узкая рабочая специализация</span>
        </div>
        <p>У каждого члена бригады свой фронт работ: штукатур облицовываtет стены, плиточник кладет плитку, а сантехник налаживает водоснабжение и канализацию. Отсутствие специалистов «широкого» профиля — гарантия надёжности и качества производимых работ.</p>
    </div>
    <div class="principles-col">
        <div class="principles-heading">
            <div class="principles-icon-wrapper">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#deadlines"></use>
                </svg>
            </div>
            <span>Соблюдение установленных сроков </span>
        </div>
        <p>Это главный принцип, на котором зиждется авторитет компании «Домум». Мы не подводим наших клиентов и всегда остаёмся на хорошем счету, делая счастливым каждого, кто обратился к нам за помощью в проведении ремонта «под ключ».</p>
    </div>
    <div class="principles-col">
        <div class="principles-heading">
            <div class="principles-icon-wrapper">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#team"></use>
                </svg>
            </div>
            <span>Сплочённый штат сотрудников</span>
        </div>
        <p>Мы  — дружная команда профессионалов, которые не решают личные проблемы на рабочем месте, не тянут одеяло каждый на себя, пытаясь доказать свою значимость, а работают слаженно, чётко и единым фронтом.</p>
    </div>
    <div class="principles-col">
        <div class="principles-heading">
            <div class="principles-icon-wrapper">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#keys"></use>
                </svg>
            </div>
            <span>Ремонт «под ключ» без доплат</span>
        </div>
        <p>После утверждения стоимости работы и внесения 30% предоплаты вы не услышите ни о каких дополнительных расходах: ценник утверждается раз и навсегда. Мы считаем, что если удивлять клиентов, то только безупречным ремонтом, о котором они даже и не мечтали!</p>
    </div>
</div>