<div class="service-box">
    <div class="service-box-content">
        <div class="service-box-list">
            <h4>{{ serviceBoxHeading }}</h4>
            <ul>
                <li>
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-check"></use>
                    </svg>
                    <span>Обмер помещения / обмерочные чертежи</span>
                </li>
                <li>
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-check"></use>
                    </svg>
                    <span>Планировочные решения с расстановкой мебели</span>
                </li>
                <li>
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-check"></use>
                    </svg>
                    <span>План по отметке 0,5м</span>
                </li>
                <li>
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-check"></use>
                    </svg>
                    <span>План потолков (чертеж, показывающий форму и разрезы потолков)</span>
                </li>
                <li>
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-check"></use>
                    </svg>
                    <span>Схема расстановки мебели</span>
                </li>
                <li>
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-check"></use>
                    </svg>
                    <span>Развертки стен и фрагментарные разрезы</span>
                </li>
                <li>
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-check"></use>
                    </svg>
                    <span>Чертеж отджельных предметов мебели (например, кухня)</span>
                </li>
                <li>
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-check"></use>
                    </svg>
                    <span>Визуализация по тиму «мукет»</span>
                </li>
            </ul>
        </div>
        <div class="service-box-description">
            <p>Дизайн-проект “ЭКОНОМНЫЙ” подходит в случае, если Вы не хотите вкладывать излишние затраты на ремонт помещения, но для Вас необходимо быть уверенным в том, что Вы получите нужный результат от потраченных средств.  </p>
            <p>Сроки исполнения: 2 - 3 недели</p>
            <p>Предоплата: 50 %</p>
            <p>Минимальная стоимость заказа:  600 EUR</p>
            <div class="service-order-row">
                <a href="#" class="button">Заказать</a>
                <div class="service-price">
                    <span class="upper">от</span>
                    <span class="service-price-amount">{{ servicePriceAmount }}</span>
                    <span class="lower">/ м²</span>
                </div>
            </div>
        </div>
    </div>
</div>