body {
  background-color: $white;
  font: 18px/28px $ubuntu-reg;
  color: $grey;
  & > svg {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  strong {
    font-family: $ubuntu-bold;
    font-weight: normal;
  }
}
a {
  text-decoration: none;
  color: $blue;
  transition: color 0.2s ease;

  &:hover {
    color: $red;
  }
}
.page {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}
.wrapper {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}
.flexbox {
  display: flex;
  justify-content: space-between;
}